input, textarea {
  border: 1px solid #C6C6C6;
  padding: 3px;
}

.page-wrap {
  background-color: #F5F5F5;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.hidden {
  display: none;
}

.unvisialbe {
  visibility: hidden;
}

.clear {
  clear: both;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix { 
  zoom: 1 
}

.bold {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.transparent-80 {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;  
}

.transparent-50 {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;  
}

.transparent-30 {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter:alpha(opacity=30);
  -moz-opacity:0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;  
}

.borderradius-1 {
  border-radius: 1px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -ms-boder-radius: 1px;
  -o-boder-radius: 1px;
}

.borderradius-2 {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-boder-radius: 2px;
  -o-boder-radius: 2px;
}

.borderradius-3 {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-boder-radius: 3px;
  -o-boder-radius: 3px;
}

.borderradius-5 {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-boder-radius: 5px;
  -o-boder-radius: 5px;
}

















