<!DOCTYPE HTML>
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 6]><html class="ie6"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="音韵码工，个人博客，技术博客，前端，node.js">
    <meta name="description" content="个人技术博客，专注前端，node.js等">
    
    <% 
      var siteTitle = ''; 
      if (typeof post != 'undefined') {
        siteTitle = post.title;
      }
      
      if (siteTile.trim().length == 0) {
        siteTile = '音韵码工';
      }
    %>
    <title><%= siteTitle %></title>		
    <script type="text/javascript">
      var Global = {};
      Global.BOOTSTAMP = new Date().getTime();
      Global.STATIC_ROOT = "/";
    </script>
    
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.ico" size="16x16 32x32">
    <% if(typeof css != 'undefined') { %>
	    <link rel="stylesheet" href="/stylesheets/page/<%= css %>.css">
	  <% } else { %>
	    <link rel="stylesheet" href="/stylesheets/page/index.css">
	  <% } %>
	  
	  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38436425-1', 'auto');
      ga('send', 'pageview');
    </script>
	</head>
	<body>
    <div id="pagewrap">
     
      <% // 整个页面的头部 start %>
      <div id="header">
        <div class="header-wrap">
          <div id="site-logo" class="site-logo">
            <h1><a href="/">音韵码工</a></h1>
          </div>
        <div id="site-description" classs="site-description">专注前端，node.js，<span id="flashLite"></span></div>
        </div>
      </div>
      <% // 整个页面的头部 end %>
      
      <% // 头部的导航栏 start %>
      <div id="navigator" class="navigator">
        <div class="navigator-wrap">
          <ul>
            <% if(menus) { %>
              <% for(var i = 0; i < menus.length; i++) { %>
                <li class="item <% if (menus[i].url == url ) { %>active<% } %>">
                  <a href="<%= menus[i].url %>"><%= menus[i].title %></a>
                </li>
              <% } %>
            <% } %>
            <script>
            (function() {
              var nav = document.getElementById('navigator');
              var tabs = nav.getElementsByTagName('li');
              var tabsLen = tabs.length;
              var _hasAct = false;
              for(var i=0; i<tabsLen; i++) {
                if(tabs[i].className.indexOf('active') != -1) {
                  _hasAct = true;
                  break;
                }
              }
              
              if(!_hasAct) {
                tabs[0].className += ' active'
              }
            })();
            </script>
          </ul>
        </div>
      </div>
      <% // 头部的导航栏 end %>
              
      <div id="body">
        <div class="body-wrap clearfix">